<h3>Welcome to Micro Post app.</h3>

<p>
Hello <strong>{{user.fullName}}</strong>
You have registered to the micro post app.
</p>
<p>
Please confirm your registration by using this 
<a href="{{ url('security_confirm', {'token': user.confirmationToken}) }}">link</a>
.
</p>
<p>
To login go to the login <a href="{{ url('security_login') }}">page</a>.
</p>

<p>
Thank you!
</p>