<h3>Welcome to Micro Post app.</h3>

<p>
Hello <strong>{{user.fullName}}</strong>
You have succesfully registered to the micro post app.
</p>
<p>
To login go to the login <a href="{{ url('security_login') }}">page</a>.
</p>

<p>
Thank you!
</p>